pymongo==4.13.2
requests==2.32.4
certifi==2025.7.14
discord-py==2.5.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
aiohttp==3.12.14
flask==3.1.1
instaloader==4.14.1
langdetect==1.0.9
pyktok==0.0.31
psutil==6.0.0
